*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(65, 37, 103, 1);
    padding: 16px 200px;
}

/* Header Logo  */

.header-logo  {
    font-size: 28px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1;
}

.logo {
    background: linear-gradient(130deg, rgb(194, 0, 248), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* Header Navbar  */

.nav-bar ul {
    display: flex;
    gap: 30px;
    list-style: none;
    cursor: pointer;
    

}

.nav-bar ul a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    

}

.nav-bar ul a:hover {
    color: blueviolet;
    background: linear-gradient(45deg, yellow, rgb(40, 214, 40));
    padding: 6px 14px;
    border-radius: 30px;

}

.hamburger {
    display: none;
}



.btn {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px; 
    background: linear-gradient(47deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(149, 0, 248, 1));
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.btn:hover {
    color: blueviolet;
    background: linear-gradient(45deg, yellow, rgb(40, 214, 40));
    transform: translateY(-5px);
   }

.arrow {
    width: 20px;
    height: 10px;
    color: white;
}




/* Mobile Responsive  */
@media screen and (max-width:576px) {

    .header-container {
        padding: 16px 20px;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .header-logo h2 {
        line-height: 1;
    }

    .hamburger img {
        width: 25px;
       
    }

    .hamburger a {
        display: flex;
        align-items: center;
    }
    /* Menu text hide  */

    .nav-bar ul li:not(.hamburger) {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .btn {
        display: none;
    }
}