*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(65, 37, 103, 1);
    padding: 16px 200px;
}

/* Header Logo  */

.header-logo  {
    font-size: 28px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1;
}

.logo {
    background: linear-gradient(130deg, rgb(194, 0, 248), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* Header Navbar  */

.nav-bar ul {
    display: flex;
    gap: 30px;
    list-style: none;
    cursor: pointer;
    

}

.nav-bar ul a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    

}

.nav-bar ul a:hover {
    color: blueviolet;
    background: linear-gradient(45deg, yellow, rgb(40, 214, 40));
    padding: 6px 14px;
    border-radius: 30px;

}

.hamburger {
    display: none;
}



.btn {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px; 
    background: linear-gradient(47deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(149, 0, 248, 1));
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.btn:hover {
    color: blueviolet;
    background: linear-gradient(45deg, yellow, rgb(40, 214, 40));
    transform: translateY(-5px);
   }

.arrow {
    width: 20px;
    height: 10px;
    color: white;
}


/* Hero Section  */

.hero-section {
    min-height: 100vh; 
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

.podcast-circle {
    position: relative;
    width: 260px;
    height: 260px;
   margin: 0 auto 30px;
   margin-bottom: 40px;
}

.circle-image {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    background: url(./assets/hero-circle.png) center/contain no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle {
    width: 65%;
    height: 65%;
    border-radius: 50%;
     background: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle img {
    width: 50%;
    height: auto;
    display: block;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: linear-gradient(45deg, #ffcc00, #ff0066);
    color: white;
    padding: 6px 14px;
    font-weight: 600;
    border-radius: 20px;
    z-index: 10;
}

.hero-content h2 {
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 8px;
}


.hero-content p {
    color: rgb(173, 170, 170);
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.hero-button {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}


.hero-button .btn-one {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px; 
    background: linear-gradient(47deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(149, 0, 248, 1));
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;

}

.hero-button .btn-one:hover {
    color: blueviolet;
    background: linear-gradient(45deg, yellow, rgb(40, 214, 40));
    transform: translateY(-5px);
}

.hero-button .btn-two{
    background-color: transparent;
    padding: 10px 20px;
    color: green;
    border: 1px solid green;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-button .btn-two:hover {
    color: blueviolet;
    background: linear-gradient(45deg, yellow, rgb(40, 214, 40));
    transform: translateY(-5px);
}



/* Mobile Responsive  */
@media screen and (max-width:576px) {

    .header-container {
        padding: 16px 20px;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .header-logo h2 {
        line-height: 1;
    }

    .hamburger img {
        width: 25px;
       
    }

    .hamburger a {
        display: flex;
        align-items: center;
    }
    /* Menu text hide  */

    .nav-bar ul li:not(.hamburger) {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .btn {
        display: none;
    }

    /* hero section  */
    .podcast-circle {
        width: 200px;
        height: 200px;
    }

    .inner-circle img {
        width: 55%;
    }

    .hero-button {
        flex-direction: column;
        gap: 18px;
    }

    .btn-one,
    .btn-two {
        width: 100%;
    }
    .hero-content h2 {
        font-size: 36px;
    }

    .hero-content p {
        font-size: 16px;
    }
}