*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(65, 37, 103, 1);
    padding: 16px 200px;
}

/* Header Logo  */

.header-logo  {
    font-size: 28px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1;
}

.logo {
    background: linear-gradient(130deg, rgb(194, 0, 248), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* Header Navbar  */

.nav-bar ul {
    display: flex;
    gap: 30px;
    list-style: none;
    cursor: pointer;
    

}

.nav-bar ul a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    

}

.nav-bar ul a:hover {
    color: blueviolet;
    background: linear-gradient(45deg, yellow, rgb(40, 214, 40));
    padding: 6px 14px;
    border-radius: 30px;

}

.hamburger {
    display: none;
}



.btn {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px; 
    background: linear-gradient(47deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(149, 0, 248, 1));
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.btn:hover {
    color: blueviolet;
    background: linear-gradient(45deg, yellow, rgb(40, 214, 40));
    transform: translateY(-5px);
   }

.arrow {
    width: 20px;
    height: 10px;
    color: white;
}


/* Hero Section  */

.hero-section {
    min-height: 100vh; 
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

.podcast-circle {
    position: relative;
    width: 260px;
    height: 260px;
   margin: 0 auto 40px;
}

.circle-image {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    background: url(./assets/hero-circle.png) center/contain no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle {
    width: 65%;
    height: 65%;
    border-radius: 50%;
     background: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle img {
    width: 50%;
    height: auto;
    display: block;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: linear-gradient(45deg, #ffcc00, #ff0066);
    color: white;
    padding: 6px 14px;
    font-weight: 600;
    border-radius: 20px;
    z-index: 10;
}

.hero-content h2 {
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 8px;
}


.hero-content p {
    color: rgb(173, 170, 170);
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1px;
    margin-bottom: 25px;
    text-align: center;
}

.hero-button {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}


.hero-button .btn-one {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px; 
    background: linear-gradient(47deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(149, 0, 248, 1));
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;

}

.hero-button .btn-one:hover {
    color: blueviolet;
    background: linear-gradient(45deg, yellow, rgb(40, 214, 40));
    transform: translateY(-5px);
}

.hero-button .btn-two{
    background-color: transparent;
    padding: 10px 20px;
    color: green;
    border: 1px solid green;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-button .btn-two:hover {
    color: blueviolet;
    background: linear-gradient(45deg, yellow, rgb(40, 214, 40));
    transform: translateY(-5px);
}


/* About Section  */

.about-section {
    background: rgba(26, 11, 46, 1);
    padding: 50px 200px 120px 200px;
    text-align: center;
}



.about-paragraph h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.about-paragraph p {
    color: rgb(177, 175, 175);
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 20px;
}
.about-paragraph hr {
    margin-top: 50px;
    margin-bottom: 50px;
    color: gainsboro;
}

.achievement {
    display: flex;
    justify-content: space-between;
}

.achievement h3 {
    font-size: 48px;
    font-weight: bold;
    color:rgba(0, 255, 136, 1);
    margin-bottom:10px;
}

.achievement p {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}



/* Why Choose Section  */

.choose {
    background: rgba(35, 14, 61, 1);
    padding: 120px 200px;
}

.choose h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
.choose img {
    margin-bottom: 16px;
}

.choose h3 {
    font-size: 24px;
    font-weight: 700;
    color:rgba(255, 255, 255, 1) ;
    margin-bottom: 16px;
}

.choose p {
    font-size: 16px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 1);
}

.card-container {
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "audio-quality mobile-friendly mobile-friendly"
    "audio-quality global-community global-community"
    "exclusive-interviews exclusive-interviews rich-resources";
    text-align: center;
}

.card {
    padding: 40px;
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    justify-content: center;
    align-items: center;
}

/* Grid Area  */
.audio-quality {
    grid-area: audio-quality;
}

.mobile-friendly {
    grid-area: mobile-friendly;
}

.global-community {
    grid-area: global-community;
}

.exclusive-interviews {
    grid-area: exclusive-interviews;
}

.rich-resources {
    grid-area: rich-resources;
}


/* Featured Episodes Section  */

.featured-section {
    background:  rgba(26, 11, 46, 1);
    padding: 120px 200px;
}

.featured-section h2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color:  rgba(255, 255, 255, 1);
    margin-bottom: 30px;
}

.featured-container {
    display: flex;
    gap: 30px;
    margin-bottom: 120px;
}

.featured{
    background: rgba(37, 13, 68, 1);
    border-radius: 24px;
}

.featured .text {
    padding: 24px;
}

.featured iframe {
    width:380px;
    height:214px; 
}

.featured h3 {
    font-size: 24px;
    font-weight: bold;
    color:rgba(255, 255, 255, 1) ;
    margin-bottom: 12px;
}

.featured p {
    font-size: 16px;
    color:rgba(255, 255, 255, 1);
    margin-bottom: 12px;
}

 .featured .time {
    color: #00FF88;
}

/* Meet The Host Section  */

.host {
    display: flex;
    gap: 24px;
    padding: 40px;
    background: rgba(53, 17, 101, 0.4);
    border-radius: 48px;
    justify-content: center;
    align-items: center;
}

.host-paragraph h3 {
    font-size: 32px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    margin-bottom: 16px;
}

.host-paragraph p {
    font-size: 16px;
    letter-spacing: 1.6;
    color:rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}

.host-paragraph .icon {
    display: flex;
    gap: 8px;
    padding: 3px;
}

.host-paragraph .host-icon {
    width: 40px;
    height: 40px;
    padding: 3px;
    border: 1px solid rgba(83, 60, 114, 1);
    background-color: rgba(83, 60, 114, 1);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}




.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px;
     background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-logo {
     font-size: 28px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1;
    margin-bottom: 30px;
}

.footer-icon {
    display: flex;
    gap: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.ftr-icon {
    display: flex;
    gap: 8px;
}


.footer-icon img{
    margin-bottom: 10px;
}

.footer-icon p {
      font-size: 18px;
      color: white;
      font-weight: bold;
}

.footer-bottom {
    color: rgb(201, 201, 221);
}


/* Mobile Responsive  */
@media screen and (max-width:576px) {

    .header-container {
        padding: 16px 20px;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .header-logo h2 {
        line-height: 1;
    }

    .hamburger img {
        width: 25px;
       
    }

    .hamburger a {
        display: flex;
        align-items: center;
    }
    /* Menu text hide  */

    .nav-bar ul li:not(.hamburger) {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .btn {
        display: none;
    }

    /* hero section  */

    .hero-section {
        padding: 10px;
    }
    .podcast-circle {
        width: 200px;
        height: 200px;
    }

    .inner-circle img {
        width: 55%;
    }

    .hero-button {
        flex-direction: row;
        gap: 12px;
    }

    .btn-one,
    .btn-two {
        width: auto;
        padding: 8px 14px;
        font-size: 14px;
    }
    .hero-content h2 {
        font-size: 36px;
    }

    .hero-content p {
        font-size: 16px;
        text-align: center;
    }

    /* About Section  */

    .about-section {
        padding:30px 15px ;
    }

    .about-paragraph h2 {
        font-size: 36px;
    }

    .about-paragraph p {
        font-size: 18px;
    }

    .achievement {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        margin-bottom: 20px;
    }

    .achievement h3 {
        font-size: 36px;
    }

    .achievement p {
        font-size: 16px;
    }

    /* Why Choose Section  */

    .card-container {
    grid-template-areas: 
    "audio-quality"
    "mobile-friendly"
    "global-community"
    "exclusive-interviews" "rich-resources";
    gap: 20px;
    margin-bottom: 30px;
}

.choose {
    padding: 10px;
    gap: 10px;
}

.choose h2 {
    font-size: 32px;
    margin-top: 25px;
}

/* Featured Episodes Section  */

.featured-section {
    padding: 8px;
}

.featured-container {
    flex-direction: column;
}

.featured-section h2 {
    font-size: 36px;
    margin-top: 20px;
}

.featured-container {
    margin-bottom: 30px;
}

/* Meet The Host Section  */

.host-paragraph h3 {
    font-size: 30px;
}

.host {
    flex-direction: column;
}

/* Footer Section  */

.footer-section {
    padding: 40px 20px;
}
.
.ftr-icon p {
    font-size: 16px;
}


}